
  .imglabel
  {height: 30px;
    width: 50px;
    position: right;
      display:block;
         float: left;
    background-color: #4aaaa5;
    z-index: -2;
  }
  .container1
  { height: 250px;
    width: 250px;
    position: relative;
}

.text1{  z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;}

    .portfolio {  position: absolute;
       }
